@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron" style="text-align:justify">
        <h1 class="display-3">
            Portal de Cadastro
        </h1>

        <p class="lead">
            Este portal tem como finalidade minimizar os problemas de informações
            para cadastro dos terceiros
        </p>
        <hr class="my-4">
        <p>Time Csl-Apoio equipe de suporte para acessos</p>
    </div>